<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Professores</title>
  </head>
  <body>
    <!-- Professores -->
    <section id="professores">
      <h2 class="row m-5"><strong>Professores</strong></h2>
      <div class="row m-5">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a href="#prof1" class="nav-link active">Computação</a>
              </li>
              <li class="nav-item">
                <a href="#prof2" class="nav-link active">Mecânica</a>
              </li>
              <li class="nav-item">
                <a href="#prof3" class="nav-link active">Civil</a>
              </li>
            </ul>
          </div>
          <div class="card-body" id="prof1">
            <h4 class="card-title">Coordenador Engenharia de Computação</h4>
            <p class="card-text">
              Angelo Sebastião Zanini
            </p>
            <a
              href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=K4761729H6"
              class="btn btn-primary"
              >CV Lattes</a
            >
          </div>
          <div class="card-body" id="prof2">
            <h4 class="card-title">Coordenadora Engenharia Mecânica</h4>
            <p class="card-text">
              Susana Marraccini Giampietri Lebrao
            </p>
            <a
              href="https://maua.br/graduacao/engenharia-mecanica/"
              class="btn btn-primary"
              >CV Lattes</a
            >
          </div>
          <div class="card-body" id="prof3">
            <h4 class="card-title">Coordenadora Engenharia Civil</h4>
            <p class="card-text">
              Cassia Silveira de Assis
            </p>
            <a
              href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4785939A1"
              class="btn btn-primary"
              >CV Lattes</a
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
